  /* @import url('https://fonts.googleapis.com/css2?family=Megrim&family=Roboto&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

  h1 {
    font-family: 'Frijole', cursive;
    text-shadow: 2px 2px black;
    color: deeppink;
    font-size: 1.5em;
    margin: 0;
    padding: 5px 0 16px;
    -webkit-text-stroke: thin;
    }

    .not-found{
        text-align: center;
    }

    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background: linear-gradient(145deg, #55b9f2, #55b9f2);
    border-radius: 50px;
    margin: 1em;
    align-self: center;
    box-shadow: rgb(72, 157, 207) 0px 5px 15px 10px, rgba(96, 125, 139, 0.51) 0px 3px 3px 7px;
    padding: 1.5em;
    border: 9px solid rgba(56, 118, 154, 0.11);
    }

    nav svg#res{
        cursor: pointer;
        width: 40px;
        height: 40px;
        height: auto;
        align-self: center;
        box-shadow: rgb(72, 157, 207) 0px 5px 15px 7px, rgba(96, 125, 139, 0.51) 0px 3px 5px 6px;
        box-shadow: rgb(72, 157, 207) 0px 2px 2px 4px, rgba(96, 125, 139, 0.51) 0px 1px 4px 5px;
        border: 9px solid rgba(56, 118, 154, 0.11);
        border-radius: 1em;
        margin: 0px 7px;
        max-width: 30px;
        width: -webkit-fill-available;
        /* -webkit-transition: 1s;
        transition: 1s; */
        transition: all ease 0.3s;
    }

nav svg#res:hover{
    /* background: #ff1493eb; */
    box-shadow: #E91E63 0px 2px 2px 4px, rgba(96, 125, 139, 0.51) 0px 1px 4px 5px;

}

    body{
        font-family: 'Roboto', sans-serif;
        /* background-color: deepskyblue; */
        border-radius: 50px;
        background: #55b9f3;
        margin: 0 auto;
        margin-bottom: 5em;
    }

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    z-index: 100;
}

.footer {
    position: fixed;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4px;
    left: -26px;
    bottom: -20px;
    margin: 16px;
    border: solid 8px #7c78781c;
    justify-content: space-evenly;
    background: linear-gradient(145deg, #55b9f2, #55b9f2);
    box-shadow: 0px -20px 3px #489dcf, -6px -7px 16px #62d5ff;
    /* box-shadow: 0px -12px 0px 0px #489dcf, inset -7px -7px 16px 0px #62d5ff; */
    box-shadow: 0px -12px 0px -10px #489dcf, inset -7px -7px 16px 0px #62d5ff;

}

div.footer button{
    border: none;
    background: none;
}

button:focus{
   outline: none;
}

div.footer svg.player{
    color: deeppink;
    cursor: pointer;
    border-radius: 2em;
    padding: 3px;
    box-shadow: rgba(128, 136, 140, 0.67) -2px 2px 4px 1px, rgba(179, 206, 216, 0.68) 1px 2px 5px 2px;
    height: 25px;
    width: 25px;
    fill: deeppink;
    overflow: visible;
    /* -webkit-transition: 1s;
    transition: 1s; */
    transition: all ease 0.3s;
}

div.footer svg.player:hover{
    box-shadow: inset rgba(128, 136, 140, 0.67) -2px 2px 4px 1px, rgba(179, 206, 216, 0.68) 1px 2px 5px 2px;
    transform: scale(1.1);
    /* padding: 5px */
}

.chartItem:hover{
    box-shadow: 0px 20px 60px #46fd7f, 0px 2px 60px #46fd7f;
 /* 20px 20px 60px #46fd7f, -20px -20px 60px #46fd7f; */

}

/* .player{
    -webkit-transition: 1s;
            transition: 1s;
    box-shadow: inset rgba(128, 136, 140, 0.67) -2px 2px 4px 1px, rgba(179, 206, 216, 0.68) 1px 2px 5px 2px;
}
.player:hover  {
    box-shadow: inset rgba(128, 136, 140, 0.67) -2px 2px 4px 1px, rgba(179, 206, 216, 0.68) 1px 2px 5px 2px;
    -webkit-transition: 1s;
    transition: 1s;
} */

.control{
    padding: 0.5em 0;
}

label{
    color: springgreen;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

input{
    padding: 6px;
    border: solid 2px lightsteelblue;
    border-radius: 10px;
}

.splash-btn{
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    border: solid #f91a93 5px;
    border-radius: 20px;
    background: springgreen;
    border-radius: 50px;
    background: linear-gradient(145deg, #5bff94, #50db4d);
    box-shadow: 20px 20px 60px #489dcf, -2px 1px 10px 6px #62d5ff;
    text-transform: uppercase;
    font-weight: bold;
}


@media screen and (max-width: 465px){

h1{
    font-size: 1em;
}
nav > div.nav-end svg#res{
    cursor: pointer;
    height: auto;
    align-self: center;
    box-shadow: rgb(72, 157, 207) 0px 2px 2px 4px, rgba(96, 125, 139, 0.51) 0px 1px 4px 5px;
    border: 5px solid rgba(56, 118, 154, 0.11);
    border-radius: .5em;
    margin: 0px 5px;
    max-width: 25px;
    width: -webkit-fill-available;
}

div.footer p {
    font-size: 12px;
}
}
