
@font-face {
    font-family: "DeadStock";
    src:  url("./fonts/DeadStock-Demo.ttf") format("truetype")
  }

  h1 {
      font-family: "DeadStock", serif;
    text-shadow: 2px 2px black;
    color: deeppink
    }

    body{
        background-color: deepskyblue;
    }
